/* shared style */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    color: #181818;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
section {
    margin-bottom: 130px;
}

/* nav related stylesheet */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}
.text-primary {
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 52px;
}
nav ul li a {
    text-decoration: none;
    color: #474747;
}
.btn-primary {
    border-radius: 5px;
    border: 0;
    color: #fff;
    background-color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 25px;
    margin-right: 30px;
}
.btn-contact {
    color: #FD6E0A;
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding: 11px 25px;
}

/* header area */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png) , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, top left;
    margin-bottom: 130px;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    max-width: 650px;
}
.banner .profile-pic {
    width: 580px;

}
.banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}
.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-text {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}

/* main section start */
main {
    
    max-width: 1300px;
    margin: 0 auto;
}
/* about section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
}
.about .banner-text {
    text-align: center;
    margin: 30px 0;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about-info {
    text-align: center;
}
/* what i do section start */
.work-status {
    text-align: center;
    margin: 30px 0;
    width: 950px;
    padding: 30px 150px;
}
.skill-container {
    display: flex;
    gap: 20px;
}
.skill {
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-text {
    color: #757575;
}

/* resume area start */
.resume-column-title {
    color:#474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container {
    display: flex;
    gap: 50px;
}
.resume-column-title {
    font-size: 30px;
}
.resume-item-title {
    font-size: 25px;
    text-align: left;
    margin-top: 30px;
}
.resume-item-institute {
    margin: 10px 0 20px 0;
}
.resume-item-institute, .resume-item-text {
    color: #757575;
}
hr {
    margin: 30px 20px
}
.download-CV {
    margin-top: 60px;
    text-align: center;
}

/* footer section start */
footer {
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container {
    max-width: 1300px;
    display: flex;
    gap: 100px;
    margin: 0 auto;
}
.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.footer-text {
    padding: 30px 0;
    color:#474747;
    font-weight: 400;
    line-height: 30px;
}
.social-links  a {
    margin-right: 45px;
    display: inline-block;
}
.footer-column {
    width: 50%;
}
.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    padding: 18px 35px;
    margin-bottom: 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
}